
.container{
    height:45px;
    background:#A243ED;
    border-radius:5px;
    color:#fff;
    align-items: center;
    font-weight:500;
    justify-content: space-between;
  }

.custom-select {
    background-color: transparent;
    width: 200px;
    color:#fff;
    font-size:14px;
  }

  .custom-select option {
    color:#505050;
    background:white;
    box-shadow: 0 0 10px 5px rgba(169, 169, 169, 0.2);
    border:none;
  }

  .col-sm{
    height:60px;
    border-radius:5px;
    width:100%;
    color:#fff;
  }

  .stat-row{
    gap:1rem;
  }
  .col-sm:nth-child(1){
    background: linear-gradient(to right, #ff2d2d, #f9c2a0);
}
.col-sm:nth-child(2){
    background: linear-gradient(to right, #FFA722, #ffeb78);
}
.col-sm:nth-child(3){
    background: linear-gradient(to right, #4C83FF, #2AFADF);
}
.col-sm:nth-child(4){
    background: linear-gradient(to right, #D261E4, #7BB6FF);
}

/* graph */
.graph{
    border:1px solid #7a7a7a;
    padding:.5rem;
    align-items: center;
  }
.graph-section{
    gap:1rem;
}

.title h4{
  color:#A243ED;
}
.button, .button-outline{
  width:fit-content;
  padding:.3rem 1rem;
  border-radius:5px;
  font-weight:500;
}

.button{
  background:#f1d4ff;
  color:#A243ED;
  
}
.button-outline{
  background:#A243ED;
  color:#fff;
}
.title{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.buttons{
  gap:1rem;
  display:flex;
}

/* dashboard css */
.new-community{
  background: #7e22ce36;
  color:#7e22ce; 
  padding:5px 14px;
  border-radius:50px;
}
.new-community1{
  height:40px !important;
  align-items:center;
}
.new-community span{
  font-family:'medium'
}

h5{
  color:#7e22ce;
  font-family:'medium';
}
.commumity-img{
  width: 40px;
  height:40px;
  border-radius:50px;
  border:1px solid #7e22ce
}
.input-comment{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  /* border: 0.4px solid #505050; */
  height:30px;
  font-size:14px;
  color:#505050;
  font-family:'regular'
  }
  .input-comment1{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: 1.5px solid #7a7a7a !important;
    height:40px;
    font-size:14px;
    color:#505050;
    font-family:'regular'
    }
  .collapse input:focus{
    outline:none
  }

  .collapse{
    padding:1rem;
  }

.profile-img{
  width: 30px;
  height:30px;
  border-radius:50px;
  border:1px solid #7e22ce
}
.profile-img1{
  width: 40px !important;
  height: 40px !important;
  border-radius:50px;
  border:1.5px solid #7e22ce
}
.title{
  color:#7e22ce;
  font-family:'regular'
}
.posted-by{
  color:#505050;
  font-family:'light';
  font-size:12px;
}
.post-description,.replies, li{
  color:#505050;
  font-family:'regular';
  font-size:14px;
}
.comment-layout{
  background:#7e22ce33;
  padding:0.8rem;

}
.comment-layout1{
  background:none;
  padding:0.8rem;

}

.add-comment{
  background:#7e22ce;
  color:#fff;
  border-radius:50px;
  font-size:12px;
  font-family:'regular';
  min-width:120px;
  height:30px;
}
.add-comment{
  height:40px !important;
}
.profile-others span{
  color:#505050;
  font-family:'regular';
  font-size:14px;
}
.comments p{
  color:#505050;
  font-family:'regular';
  font-size:14px;
}

.vote{
  background:#7e22ce34;
  color:#fff;
  border-radius:50px;
  font-size:12px;
  font-family:'regular';
  min-width:120px;
  height:30px;
}
.comment-section{
  background:white;
}

.vote span{
  color:#7e22ce;
  font-size:14px;
}

.reply{
  background:none;
  padding:0 15px;
  border-radius:50px;
  font-family:'medium';
  font-size:14px;
  color:#7e22ce
}
h6{
  font-family:'medium';
  color:#7e22ce

}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-icon {
  animation: zoom 1.6s infinite alternate;
}
.content-user{
  padding:1rem 1.5rem 1rem 1rem;
}


/* explore */
.button-search{
  width:100%;
  height:38px;
  border-radius:5px;
  background:#7e22ce;
  color:#fff;
  font-family:'medium'
}
.carousel-item img {
  width: 100%;
  width:500px;
  height: 100%;
  height:400px;
  display: block;
  
}

.switch{
  background:orange;
}
.carousel{
  /* min-width:700px;
  width:60%; */
  min-height:440px;
  height:440px;
  /* margin:0 auto; */
  /* margin-top:2rem; */
}

.carousel-indicators .switch{
  width:100px !important;
  background:#7e22ce;
  height:0;
}

.description{
  background-color: rgba(0, 0, 0, 0.5);
  width:100% !important;
  left:0;
  height:130px;
  z-index:3
}
.description h5 {
  color:#fff;
}
.button-join{
  background:#7e22cea9;
  color:#fff;
  border-radius:50px;
  padding:4px 20px;
  font-family:'medium';
  z-index:4;
}
.member-join{
  background:#7e22ce;
  color:#fff;
  border-radius:50px;
  padding:4px 25px;
  font-family:'medium';
  z-index:4;
}
.abc{
  border-radius:5px !important;
  margin:0 auto;
  display:flex;
}
.join-container{
  padding:0 1rem 0 0;
}
.main-layout{
  display:flex;
}



@media (max-width: 768px) {
  .main-layout {
    display: block; /* or any other value you want */
  }
}
.name img{
  width:60vh;
  height:60vh;
}



.course-container {
width:100%;
height:100vh;
}

.course-container .image-course {
  width:100%;
  height:40%;
  /* object-fit: cover;  */
}

.course-container1 {
  width:100%;
  height:100vh;
  border:1px solid #7e22ce;
  }
.course-container1 .image-course1 {
  width:100%;
  height:85%;
  /* object-fit: cover;  */
}

.community h5{
  font-family:'bold';
  color:#7e22ce;
}

.community-edit{
  background:#7e22ce2c;
  margin:-2.9rem 1rem 1rem 1rem;
  padding:0.8rem 2rem;
}
.upload {
  display: flex;
  justify-content: center; 
  margin-top:12%;
}

.button-upload{
  background:#7e22cea9;
  color:#fff;
  border-radius:50px;
  padding:4px 24px;
  font-family:'medium';
  z-index:4;
  width:200px;
  margin:10rem auto
}
.profile-img13{
  width:100px !important;
  height:100px !important;
  margin:0 auto;
  display:flex;
  border:1.5px solid #7e22ce;
  border-radius:50px;
}
