@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'light';
    src: url('../public/font/Poppins-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'regular';
    src: url('../public/font/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'medium';
    src: url('../public/font/Poppins-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'bold';
    src: url('../public/font/Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'thin';
    src: url('../public/font/Poppins-Thin.ttf') format('truetype');
  }