
body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'poppins';
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    border: none;
}


.center-offcanvas {
 height:80vh !important;
  background-color: rgba(0, 0, 0, 0.5);
  width:70vh;
  margin:5% auto;
  font-family:'regular';
  border-radius:10px;
}
.center-offcanvas h5{
  font-family:'medium';
  color:#7E22CE;
}
.icon-div{
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon-container{
  background:#8903ff3a;
  border-radius:50%;
  height:8em;
  width:8em;
  display:flex;
  justify-content: center;
  align-items: center;
}
.email-verification{
  color:#7E22CE;
  font-size:4em !important;
}
.logo img{
    width: 110px;
    height:70px;
}
#main{

    width:100%;
    height:600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
  display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: fixed;
  gap:46%;
	top: 0;
	width:100%;
  height:90px;
	z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}

.company-submit{
  position:relative;
  top:-1.3rem;
}

.footer1 .logo1{
  width: 110px;
  height:70px;
}
.footer-text{
  font-family:'regular';
  font-size:14px !important;
}
.nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center; 
	position: fixed;
  flex-direction:'row';
	left: 0;
	top: 0;
  padding:0 2rem;
	width:100%;
  height:90px;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}
.contain{
  padding:0 2rem;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: white;
}
nav ul{
	display: flex;
}
.active{
    /* background-color: #7E22CE; */
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
	transition: all ease 0.2s;
}
nav a{
  font-family: 'regular';
	height:40px;
  align-items:'center';
	line-height: 43px;
	padding: 0px 22px;
	display: flex;
	font-size:16px;
	font-weight: 500;
	color:#505050;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}
 
nav .menu-btn,
.menu-icon{
		display:none;
	}

nav button{
  height:40px;
  width:100px;
  /* margin-left:1rem; */
  border-radius:3px;
}

nav .btn-sign{
  background: #7e22ce;
  color:#fff;  
}


.name{
	font-family: 'regular';
  justify-content:'center';
  align-items:'center';
  width:100%;
  padding:0 0px 0 3rem;;
}
.name img{
  width:60vh;
  height:60vh;
}

.name h1{
	font-family:'medium';
	font-size: 3rem;
	margin:0px;
	color:#000000;
}
.name h2{
	font-family:'medium';
	margin:0px;
	color:#7e22ce;
}
.names p{
  font-size:20px;
  color:#505050;
}
.name p{
  font-size:18px;
  color:#505050;
  font-family: 'light';
}
.names p{
  font-size:20px;
  color:#505050;
}
.footer-container{
  background:rgb(246, 232, 255);
}
.address-details h5{
  font-family:'medium';
  font-size:16px;
  color:#505050
}
.address-details p{
  font-size:14px;
  font-family:'regular';
  color:#505050

}
.login-button{
  height:40px;
  width:120px;
  border-radius:3px;
  color:#fff;
  background:#7e22ce;
}
.header-btns{
    display: flex;
    margin-top: 40px;
}
.cv-btn{
	width:110px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #00b7ff;
    box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);
    border-radius: 10px;
	color:#ffffff;
}
.cv-btn:hover{
	background-color: #0099ff;
    transition: all ease 0.5s;
    color: #ffffff;
}

.f-heading h1{
    color:#FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;

}
.f-heading p{
    color:#505050;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.f-heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: -80px;
}
  #about{
    margin-top:100px ;
	width:100%;
	height: 120vh;
	background-color:#f3fdff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}

.about-text{
    width: 45%;
    color: #fff;
    list-style: circle;
}
.about-text h2{
	font-size: 2rem;
	color:#00b7ff;
    font-weight: 500;
    margin: 0px;
	padding: 0px;
}
.about-text p{
    width: 80%;
	font-size: 1.2rem;
	color:#272727;
	
}
.about-text button{
    margin-top: 20px;
	width: 140px;
	height: 45px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#00b7ff;
}
.about-text button:hover{
	background-color: rgb(0, 132, 255);
    transition: all ease 0.3s;
    color: #ffffff;
}
.about-image{
    width: 50%;
}
.about-image img{
  width: 600px;
}

#features{
    width:100%;
    height:100vh;
    box-sizing: border-box;
    font-family:'regular';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-title{
  font-family:'medium';
  color:#7e22ce !important;
}
#features h2{
  color:#505050;
  font-family:'medium';
  width:60%
}

.a-container{
    display: flex;
    justify-content: center;
    align-content: center; 
}
.a-container img{
  width:50vh;
}
.a-box{
    background-color: #ffffff;
    width:300px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    position: relative;
}
.a-b-img{
    width: 100%;
    height: 60%;

}
.a-b-img img{
    padding: 3rem;
    width:100%;
    height: 100%;

}

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.name{
    justify-content: center;
    text-align: center;
    margin:0 auto;
    padding:0 0px 0 1.5rem;;
	}

  /* .name img{
    margin:0 auto
  } */

    #features{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}

}

@media(max-width:970px){
	.main{
		background-image: none !important;
		
	}
    #features{
        margin-bottom: 100px;
    }
  

}

.registration-form-container{
  padding-bottom:1rem;
  
}


   
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 40px 30px 40px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-family:'regular';
    background:rgb(246, 232, 255);

  }
  .form-title{
    color:#7E22CE;
    text-align:center;
    margin-top:-1rem;;
    font-size:24px;
    font-family:'medium';
    padding-bottom:.5rem;
  }
  progress{
    width:100%;
    padding:1rem;
    margin-top:-10px;
    color:green;
  }
  .registration-form h2{
    color:#505050;
    text-align:center;
    font-size:20px;
    font-family:'medium'
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width:100%;
    margin-top:10px;
  }

  .social-login img{
    width:100px;
  }
  
  .google-btn {
    height:200px;
    border: 1px solid #505050;
    color: #505050;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
    justify-content:center;
    align-items:center;
    display:flex;
    gap:1rem;
    background:transparent;
  }
  .google-btn:focus{
    /* outline:2px solid green; */
    border:2px solid rgb(0, 223, 0);
  }
  
  .or {
    font-size: 16px;
    display:block;
    text-align:center;
    color:#505050;
    margin-top:-.5rem;
    padding-bottom:.5rem;
  }
  
  .form-group {
    margin-bottom: 8px;
    font-family: 'light';
    font-size:14px
  }

  .form-group label{
    font-size:14px;
    color:#505050;
    font-family:'medium'
  }
  .form-group select{
    height:60px;
  }
  
  .select-wrapper {
    position: absolute;
    padding:20rem;
}

.select-wrapper select {
    padding-top: 10px; /* Adjust as needed */
}

 input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0.4px solid #505050;
    height:38px;
    font-size:14px;
    color:#505050;
    }
  input:focus{
    outline: 0.5px solid #505050;
  }
  .terms{
    display:flex;
    margin-top:-0rem;
    font-family:'regular' 
  }
  .condition{
    font-size:12px;
    color:#505050;
    margin-bottom:0rem;
    margin-top:.15rem;
    margin-left:.6rem;
  }
.condition span{
    color:#7E22CE;
    font-family:'medium' !important
}
  
  button[type='submit'] {
    width: 100%;
    padding: 7px;
    background: #7E22CE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .header-content{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    height:80px;
    align-items:center;
    padding:0 1rem;
 
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 600px) {
    .registration-form {
      width: 90%;
    }
  }
  
/* Sample CSS */
.progress-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    max-width:400px;
  }
  
  .dot {
    height:15px ;
    width: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:2px solid #7E22CE; 
    cursor: pointer;
    position: relative;
    z-index: 1;
   
  }
  
  .dot.active {
    background-color: #7E22CE;
    
  }
  
  .connector {
    height: 10px;
    background-color: transparent;
    border:2px solid #7E22CE;
    flex: 1;
    position: relative;
    z-index: 1; 
    border-radius:10% / 100%;
  }
  @keyframes fadeInLeftToRight {
    0% {
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  
  .active-pro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7E22CE;
    animation: fadeInLeftToRight 1s forwards;
  }
  
  @keyframes fadeInLeftToRight {
    0% {
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  
  .active-pro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7E22CE;
    animation: fadeInLeftToRight 0.5s forwards;
  }
  
  @keyframes fadeInLeftToRightDot {
    0% {
      opacity: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  
  .dot-pro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7E22CE;
    opacity: 0;
    animation: fadeInLeftToRightDot 0.5s forwards;
    animation-delay: 0.5s;
  }
  
.active-pro1,.dot-pro1{
  background: #7E22CE;
}
  


  .dot-label {
    display: none;
  }
  
.success-msg{
  text-align:center;
  font-size:14px;
  color:#7A7A7A;
}

/* Admin Dashboard */
.main-content{
  background:rgb(255, 255, 255);
  width:100%;
  min-height:600px; 
  border-radius:10px;
}
.main-content img{
  width:30px;
  height:30px;
  cursor:pointer;
}
.main-content span{
  font-family:'regular';
  cursor:pointer

}
.container-body{
  padding:.7rem .8%;

}
.row{
  display:flex;
  flex-direction:row;
}

.logo-title{
  color:#7E22CE;

}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
  }
  .main-content{
    margin-left:6rem;
  }
  .content span{
    display:none;
  }
}
