.exchange-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background: transparent;
  width: 535px;
  height: 258px;
  align-items: center;
}

.exchange-container label,
.exchange-container input {
  margin-right: 46px;
}

.exchange-container .close-modal {
  background-color: #7e22ce;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 120px;
}

.exchange-container .close-modal:hover {
  background-color: #6a1a9b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.087
  ); /* Adjust the opacity for the desired blur effect */
  z-index: 999; /* Ensure the overlay is above other content */
}

/* .profile-container {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */
.coinLabels {
  display: flex;
  flex-direction: column; /* Display items in a column layout */
  align-items: flex-start; /* Align items to the start of the column */
  margin-left: -20px;
  margin-top: -30px;
}

.coinLabels > div {
  margin-bottom: 20px; /* Add some space between the label-input pairs */
}

.coinLabels label {
  font-weight: bold;
}
