body {
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #fff; /* Example background color */
}

.logo,
nav,
.signup-button {
  display: flex;
  align-items: center;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  margin-right: 60px; /* Adjust spacing as needed */
  font-size: 24px;
  text-decoration: none;
  color: #333; /* Example link color */
}

.signup-button {
  background-color: #7e22ce; /* Example button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  margin-right: 40px; /* Adjust spacing as needed */
  width: 140px;
  height: 45px;
}

.signup-button span {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
}

.learn-more-button {
  background-color: #7e22ce; /* Example button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px; /* Adjust spacing as needed */
  width: 195px;
  height: 65px;
  align-self: center; /* Center align the button within main content */
}

.learn-more-button span {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  max-width: 100%; /* Ensure the image doesn't exceed the container */
}

/* ?styling for third page */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.content2 {
  flex: 1;
  margin-right: 50px;
}

.content2 h1 {
  color: #7b68ee; /* Purple color */
  font-size: 3.5em;
}

.content2 p {
  font-size: 1.5em;
  line-height: 1.5;
}

.image-container {
  /* Adjust width and height as needed */
  width: 480px;
  height: 280px;
  margin-bottom: 85px;
}

.image-container img {
  width: 100%;
  height: auto;
}

/* homepage 4 */
.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #fff; /* Example background color */
}

.text-content {
  flex: 1;
  margin-right: 80px; /* Adjust spacing as needed */
  /* font-size: 1.5em; */
  line-height: 1.5;
}

.text-content h2 {
  color: #6f42c1; /* Example heading color */
  font-size: 3.5em;
  line-height: 1.25;
}

.image-content1 {
  flex: 1;
  text-align: center;
  width: 420px;
  height: 220px;
  margin-bottom: 160px;
  margin-top: 165px;
}

.image-content1 img {
  width: 100%;
  height: auto;
}

/* policy */
.Policy ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.Policy {
  margin-left: -65px;
}

.Policy ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}
.Policy ul li {
  margin-bottom: 13px;
}

.Policy h3 {
  font-size: 16px;
}

/* quicklink */
.Quicklink a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}
.Quicklink ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Quicklink ul li {
  margin-bottom: 13px;
}

.Quicklink h3 {
  text-decoration: none;
  font-size: 16px;
}

/* address */
.section1 {
  margin-right: 50px;
  margin-bottom: 13px;
}
.section1 p {
  font-size: 13px;
  color: #000000;
}
.section1 h3 {
  font-size: 16px;
}

/* footer */
.footer {
  background-color: #f3e8f4;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: left;
  width: 100%;
}

.line {
  border-top: 1px solid #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  justify-content: space-around;
  background-color: #f3e8f4;
}

.section {
  margin-right: 50px;
}

/* Assuming you have included Font Awesome in your project */
.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}
.social-media a {
  /* display: inline-block; */
  margin-right: 60px; /* Adjust spacing as needed */
  font-size: 45px; /* Adjust icon size as needed */
  color: #333; /* Set initial color */
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.social-media a:hover {
  color: #800080; /* Change color on hover */
}

.section a {
  display: block;
  margin-bottom: 5px; /* Adjust spacing as needed */
  color: #333; /* Set initial color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Add transition for hover effect */
}

.section a:hover {
  color: #800080; /* Change color on hover */
  text-decoration: underline; /* Add underline on hover */
}
.copyright-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* signup */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f5;
}
