.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

.scroll-to-top button {
  background: transparent;
  color: white;
  border: none;
  /* border-radius: 50%; */
  padding: 10px;
  cursor: pointer;
}

.arrow-up {
  font-size: 20px;
}
