.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  width: 340px;
  text-align: center;
  background-color: #f8e4f8;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.account-type-options {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.account-type-options button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  border: 1px solid #0000006a;
  width: 125px;
  height: 125px;
  padding-top: 18px;
  padding-bottom: 18px;
  background: white;
  border-radius: 5px;
}

.account-type-options button img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.account-type-options button.active {
  border: 2px solid #007bff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 76%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid #000000;
}

button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #7e22ce62;
}

p {
  margin-top: 10px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.signupButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Change this to justify-content: space-between; */
  /* text-align: center; */
  width: 82%;
}

.signupButton button {
  width: 85px;
  height: 32px;
  align-self: flex-end;
  background-color: #7e22ce;
  margin-left: 82px;
}

.signupButton p {
  width: 100%;
  align-self: flex-start;
  font-size: 13px;
}

/* highlighting the border line of account type img */
.account-type-options button {
  border: 1px solid rgba(0, 0, 0, 0.399); /* Change border color for the active button */

  /* Your existing styles for the buttons */
}

.account-type-options button.active {
  border: 2px solid #17f329; /* Change border color for the active button */
}

.account-type-options {
  display: flex;
  justify-content: center;
}

.account-button {
  border: 1px solid #00000064; /* Normal border color */
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.account-button img {
  width: 80px;
  height: 80px;
}

.account-button.active {
  border: 2px solid #0000006c; /* Highlighted border color */
}

/* Additional styles for staff or student button if needed */
