.sidebar{
  height:100%;
  z-index:10
  }
  .main-container{
    border-radius:10px 0 0 10px;
    background:#EFE2FF !important;
  }
  
  .content{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    width:85%;
    margin:0 auto;
  }
  .content span, i{
    color:#7E22CE;
    padding:1rem 0; 
  }
  
  .content i{
    padding-right:1rem;
    margin-left:-1
  }
  .sidebar-link:hover{
    background:#ffffff;
    border-radius:5px;
  }

  .sidebar-link.active-link {
    background-color: #7E22CE;
    /* color:#fff; */
  }
  
  .active-link i,
.active-link span {
  color: white;
}

.logo-sidebar{
  width:90px !important;
  height:50px !important;
}
  
  
  .sidebar-link:hover span, .sidebar-link:hover i{
    border-radius:10px;
  }
  
  .sidebar-link{
    background:transparent;
    box-shadow: none;
    align-items:center
  }