body {
  display: flex;
  align-items: center;
}
.profile-container {
  width: 800px;
  background-color: #eeeeee;
  border-radius: 5px;
  height: 580px;
}

.profileContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 30px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  background: white;
  padding: 30px;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin-bottom: 10px; */
  border: 1px solid #000000;
}

.profile-card h2,
.profile-card p {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000000; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 57%;
}

.updateButton {
  background-color: #7e22ce;
  color: #fff;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-right: 5px;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: -26px;
}

.community-list {
  /* border: 1px solid #000000; */
  background: white;
  width: 180px;
  height: 200px;
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
}
.community-list h3 {
  margin-top: -5px;
}

.earning-status {
  background: white;
  width: 180px;
  height: 200px;
  margin-right: -99px;
  border-radius: 10px;
  padding: 30px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.earning-status p {
  text-align: left;
}
.earning-status h3 {
  text-align: left;
}

.earning-status button {
  margin-top: 30px;

  align-self: center;
  background-color: #7e22ce;
  width: 85px;
  height: 32px;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input-label img {
  cursor: pointer;
  padding-left: 120px;
  padding-top: 6px;
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* modal popup */

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
  font-size: 16px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.modal-button.cancel {
  background-color: #ccc;
  color: #333;
}

.modal-button.confirm {
  background-color: #8000ff;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icon-container:hover {
  opacity: 0.7;
}

/* modal */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
